<table class="table table-striped">
  <thead>
    <tr>
      <th>Email</th>
      <th>First name</th>
      <th>Last name</th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <% @users.each do |user| %>
      <td><%= link_to user&.email, edit_user_path(user) %></td>
      <td><%= user&.first_name %></td>
      <td><%= user&.last_name %></td>
    <% end %>
  </tr>
  </tbody>
</table>
